
.navbar-brand > img {
  margin-top : -10px;
}

a.btn-launch-shell {
  background : #00adff;
  color : #fff;
  font-weight : bold;
}

a.btn-launch-shell:hover {
  color : #0d1d2d;
}

a.btn-submod-links {
  background : #003459;
  color : #fff;
}
a.btn-submod-links:hover {
  color : #000000;
}
