
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="keywords" content="{{page.keywords}}"/>
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel='stylesheet', href='/ext/bootstrap.min.css'/>
    <link rel='stylesheet', href='/ext/font-awesome.min.css'/>
    <link rel='stylesheet', href='/style/custom.css'/>
    <link rel="icon" type="image/png" sizes="48x48" href="/img/bluemath-logo-48.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/ext/bootstrap-3.3.7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    {% include ga.html %}
<style>
</style>
  {% seo %}
  </head>

  <body>
    {% include topbar.html %}

    <div class="container">
      <div class="page-header">
      </div>
      <div class="jumbotron">
        <h1>Consulting</h1>
        <p>
Consulting services tailored to the needs for your CAD project
        </p>
        <p>
          <a href="mailto:contact@bluemathsoftware.com" class="btn btn-launch-shell">contact@bluemathsoftware.com</a>
        </p>
      </div>

      <h4>We have expertise and experience in major CAD technologies.</h4>

      <div class="list-group">
        <div class="list-group-item">
          <h2>HOOPS</h2>
          <p>
                The HOOPS libraries from Techsoft3D are an excellent tool to load different formats for CAD files.
          </p>
        </div>
        <div class="list-group-item">
          <h2>Parasolid</h2>
          <p>
              Parasolid is the most venerable geometry kernel in the CAD Industry. If your goal is to do custom modifications to parts of your CAD model, then you have to use Parasolid (typically in conjuction with HOOPS).
          </p>
        </div>
        <div class="list-group-item">
          <h2>Web Solutions</h2>
          <p>
          </p>
        </div>
      </div>

    </div>

  </body>
</html>
