<!doctype html>
<html lang="en">
  <head>
    <title>Blue Math Software</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel='stylesheet', href='/ext/bootstrap.min.css'/>
    <link rel='stylesheet', href='/ext/font-awesome.min.css'/>
    <link rel='stylesheet', href='/style/custom.css'/>
    <link rel="icon" type="image/png" sizes="48x48" href="/img/bluemath-logo-48.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/ext/bootstrap-3.3.7.min.js"></script>
    {% include ga.html %}
<style>
</style>
    {% seo %}
  </head>

  <body>
    {% include topbar.html %}

    <div class="page-header">
    </div>

    <div class="container">

      <div class="jumbotron">
        <h1>Blue Math</h1>
        <p>
          Math library for the Web. TypeScript. Open Source.
        </p>
        <p>
          <a href="/shell/index.html" class="btn btn-launch-shell">Launch Shell</a>
        </p>
      </div>

      <div class="list-group">
        <div class="list-group-item">
          <h2>NDArray</h2>
          <p>
            N-Dimensional array data structure like numpy's ndarray.
            <ul>
              <li>Efficient storage in Typed Arrays</li>
              <li>Flexible slicing and indexing</li>
            </ul>
            <a href="/bm/common/docs/index.html" class="btn btn-default">Docs</a>
            <a href="/bm/common/test/index.html" class="btn btn-default">Tests</a>
          </p>
        </div>
        <div class="list-group-item">
          <h2>Linear Algebra</h2>
          <p>
          Vector and Matrix Math.
          <ul>
            <li>
              Powered by venerable LAPACK library, compiled to Javascript using Emscripten.
            </li>
            <li>
              Solving of linear equation systems (LU decomposition, Least Square)
            </li>
            <li>
              Matrix decomposition operations (SVD, Cholesky, QR)
            </li>
            <li>
              Standard matrix properties (Rank, Determinant, Inverse)
            </li>
          </ul>
          <a href="/bm/linalg/docs/index.html" class="btn btn-default">Docs</a>
          <a href="/bm/linalg/test/index.html" class="btn btn-default">Tests</a>
          </p>
        </div>
        <div class="list-group-item">
          <h2>NURBS geometry</h2>
          <p>
          Implementation of NURBS curves and surfaces (Non-Uniform Rational BSplines), which work as building blocks of Geometry primitives in a CAD applications
          <ul>
            <li>
              Bezier Curves and Surfaces
            </li>
            <li>
              Rational BSpline Curves and Surfaces, with algorithms for degree elevation, knot refinement etc.
            </li>
            <li>
              Adaptive tessellation
            </li>
          </ul>
          <a href="/bm/geom/docs/index.html" class="btn btn-default">Docs</a>
          <a href="/bm/geom/test/index.html" class="btn btn-default">Tests</a>
          </p>
        </div>
        <div class="list-group-item">
          <h2>Topology</h2>
          <p>
          Implementation of topology using Winged edge data structure. Used in addition to geometry to do Solid modeling in CAD applications
          <ul>
            <li>
              Topology classes that define Vertex, Edge, Face, Loop, Body
            </li>
            <li>
              Manipulation of topology by means of Euler operators
            </li>
          </ul>
          <a href="/bm/topo/test/index.html" class="btn btn-default">Test</a>
          </p>
        </div>
      </div>

    </div>
  </body>
</html>
