<!doctype html>
<html lang="en">
  <head>
    <title>Blue Math Software</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel='stylesheet', href='/ext/bootstrap.min.css'/>
    <link rel='stylesheet', href='/ext/font-awesome.min.css'/>
    <link rel='stylesheet', href='/style/custom.css'/>
    <link rel="icon" type="image/png" sizes="48x48" href="/img/bluemath-logo-48.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/ext/bootstrap-3.3.7.min.js"></script>
    {% include ga.html %}
<style>
</style>
    {% seo %}
  </head>

  <body>
    {% include topbar.html %}

    <div class="page-header">
    </div>


    <div class="container">

    <div class="jumbotron">
        <h1>Machina</h1>
        <p>
          Machina is an upcoming video game where you build Machines like Jigsaw puzzles.
        </p>

        <div class="row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6">
          <img src="img/machina-fb-cover-page.PNG" />
          </div>
          <div class="col-lg-3">
          </div>
        </div>

        <p>
          <h2>Stay tuned</h2>
          <a href="https://www.facebook.com/machinagame" class="btn btn-launch-shell">Facebook Page</a>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfnr-wrnCV88BslJf_Wdluo9OE6Ks5mJBMCZUYO3k8aiq4x6Q/viewform" class="btn btn-launch-shell">Email</a>
        </p>
      </div>

      <div class="jumbotron">
        <h1>Fold Wars</h1>
        <p>
          Fold Wars is a Tower Defense game that challenges your ability to think logically in time and space. You place towers on an open map to protect your gold from enemy. You carve the path the enemy takes with the towers you build. Depending on the enemy strengths and weaknesses you plan your strategy to place right type of towers at right place at right time. The score takes into account all aspects of your strategy and rewards you for the most efficient plan. There are many difficulty levels to choose from, so you don't get stuck.
        </p>

        <div class="row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6">
          <img src="img/foldwars-logo.png" />
          </div>
          <div class="col-lg-3">
          </div>
        </div>

        <p>
          <h2>Play on</h2>
          <a href="https://www.kongregate.com/games/blumath/fold-wars" class="btn btn-launch-shell">Kongregate</a>
          <a href="https://www.newgrounds.com/portal/view/712841" class="btn btn-launch-shell">Newgrounds</a>
          <a href="https://bluemath.itch.io/fold-wars" class="btn btn-launch-shell">Itch.io</a>
          <a href="https://armorgames.com/fold-wars-game/18384" class="btn btn-launch-shell">Armor Games</a>
        </p>
      </div>

    </div>
  </body>
</html>
