<!doctype html>
<html lang="en">
  <head>
    <title>Blue Math Software</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel='stylesheet', href='/ext/bootstrap.min.css'/>
    <link rel='stylesheet', href='/ext/font-awesome.min.css'/>
    <link rel='stylesheet', href='/style/custom.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/ext/bootstrap-3.3.7.min.js"></script>
    {% include ga.html %}
<style>
</style>
    {% seo %}
  </head>

  <body>
    {% include topbar.html %}

    <div class="page-header">
    </div>

    <div class="container">

      <div class="jumbotron">
        <h1>Consulting</h1>
        <p>
          CAD Consulting services tailored to your requirements
        </p>
        <p>
          <a href="/consulting.html" class="btn btn-launch-shell">Learn more</a>
        </p>
      </div>

      <div class="jumbotron">
        <h1>Blue Math</h1>
        <p>
          Math library for the Web. TypeScript. Open Source.
        </p>
        <p>
          <a href="/library.html" class="btn btn-launch-shell">Learn more</a>
        </p>
      </div>


    </div>
  </body>
</html>
